In [1]:
import re
from pyspark import SparkConf, SparkContext

In [2]:
conf = SparkConf().setMaster("local").setAppName("WordCount")
sc = SparkContext(conf = conf)

In [3]:
def parseLine(line):
    fields = line.split(',')
    name = str(fields[1])
    age = int(fields[2])
    numFriends = int(fields[3])
    return (name, age, numFriends)

In [4]:
lines = sc.textFile("/Users/ameyapatankar/Desktop/SparkCourse/fakefriends.csv")

In [5]:
type(lines)

pyspark.rdd.RDD

In [6]:
lines.take(3)

['0,Will,33,385', '1,Jean-Luc,26,2', '2,Hugh,55,221']

In [7]:
rdd = lines.map(parseLine)

In [8]:
rdd.take(5)

[('Will', 33, 385),
 ('Jean-Luc', 26, 2),
 ('Hugh', 55, 221),
 ('Deanna', 40, 465),
 ('Quark', 68, 21)]

In [9]:
totalsByAge = rdd.mapValues(lambda x: (x, 1)).reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))

In [10]:
totalsByAge.take(4)

[('Will', (748, 19)),
 ('Jean-Luc', (779, 16)),
 ('Hugh', (993, 20)),
 ('Deanna', (762, 17))]

In [11]:
totalsByAge.mapValues(lambda x: x[1]).take(3)

[('Will', 19), ('Jean-Luc', 16), ('Hugh', 20)]

In [12]:
avgAges = totalsByAge.mapValues(lambda x: x[0]/x[1])

In [13]:
results = avgAges.collect() #.select(['Year',format_number('avg(Close)',3)

In [14]:
type(results)

list

In [15]:
for result in results:
    print(result)

('Will', 39.36842105263158)
('Jean-Luc', 48.6875)
('Hugh', 49.65)
('Deanna', 44.8235294117647)
('Quark', 43.76190476190476)
('Weyoun', 37.8)
('Gowron', 45.416666666666664)
('Jadzia', 46.916666666666664)
('Odo', 42.53333333333333)
('Ben', 47.88235294117647)
('Keiko', 45.857142857142854)
('Rom', 49.666666666666664)
('Geordi', 44.35)
('Miles', 36.9)
('Julian', 39.666666666666664)
('Leeta', 41.6)
('Martok', 43.166666666666664)
('Nog', 42.40909090909091)
('Dukat', 41.76190476190476)
('Beverly', 40.55)
('Kasidy', 38.8421052631579)
('Morn', 48.375)
('Brunt', 42.77272727272727)
('Guinan', 46.333333333333336)
('Nerys', 48.68421052631579)
('Ezri', 42.05)
('Lwaxana', 41.5)
('Elim', 40.5)
('Data', 43.36)
('Worf', 44.92857142857143)

In [20]:
myRDD = sc.parallelize([('AP', 22,5), ('UC', 24,4), ('GC',24,6), ('AP', 25,5), ('UC', 25,6), ('GC', 26,7), ('AP', 27,6)])

In [21]:
myRDD.take(5)

[('AP', 22, 5), ('UC', 24, 4), ('GC', 24, 6), ('AP', 25, 5), ('UC', 25, 6)]

In [34]:
tmp = myRDD.mapValues(lambda x: (x,1))
tmp.take(7)

NameError: name 'x' is not defined

In [37]:
tmp.reduceByKey(lambda x,y: (x[0]+y[0],x[1]+y[1])).take(5)

[('AP', (74, 3)), ('UC', (49, 2)), ('GC', (50, 2))]