In [1]:
from pyspark import SparkConf, SparkContext

conf = SparkConf().setMaster("local[*]").setAppName("Marvel")
sc = SparkContext(conf = conf)

In [3]:
tmp = sc.textFile('/Users/ameyapatankar/Desktop/SparkCourse/Marvel-Graph.txt')

In [5]:
tmp.take(4)

['5988 748 1722 3752 4655 5743 1872 3413 5527 6368 6085 4319 4728 1636 2397 3364 4001 1614 1819 1585 732 2660 3952 2507 3891 2070 2239 2602 612 1352 5447 4548 1596 5488 1605 5517 11 479 2554 2043 17 865 4292 6312 473 534 1479 6375 4456 ',
 '5989 4080 4264 4446 3779 2430 2297 6169 3530 3272 4282 6432 2548 4140 185 105 3878 2429 1334 4595 2767 3956 3877 4776 4946 3407 128 269 5775 5121 481 5516 4758 4053 1044 1602 3889 1535 6038 533 3986 ',
 '5982 217 595 1194 3308 2940 1815 794 1503 5197 859 5096 6039 2664 651 2244 528 284 1449 1097 1172 1092 108 3405 5204 387 4607 4545 3705 4930 1805 4712 4404 247 4754 4427 1845 536 5795 5978 533 3984 6056 ',
 '5983 1165 3836 4361 1282 716 4289 4646 6300 5084 2397 4454 1913 5861 5485 ']

In [15]:
def parseNames(lines):
    fields = lines.split('\"')
    return (int(fields[0]), fields[1].encode('utf8'))

def CountCo(lines):
    fields = lines.split()
    return (int(fields[0]), len(fields)- 1)

In [6]:
names = sc.textFile('/Users/ameyapatankar/Desktop/SparkCourse/Marvel-Names.txt')

In [12]:
rdd = names.map(parseNames)

In [13]:
rdd.take(4)

[(1, b'24-HOUR MAN/EMMANUEL'),
 (2, b'3-D MAN/CHARLES CHAN'),
 (3, b'4-D MAN/MERCURIO'),
 (4, b'8-BALL/')]

In [16]:
pairings = tmp.map(CountCo)

In [17]:
pairings.take(4)

[(5988, 48), (5989, 40), (5982, 42), (5983, 14)]

In [18]:
totalFriendsByCharacter = pairings.reduceByKey(lambda x,y: x+y)

In [19]:
totalFriendsByCharacter.take(4)

[(5988, 48), (5989, 40), (5982, 42), (5983, 14)]

In [28]:
flipped = totalFriendsByCharacter.map(lambda xy: (xy[1],xy[0]))

In [29]:
flipped.take(4)

[(48, 5988), (40, 5989), (42, 5982), (14, 5983)]

In [30]:
mostPopular = flipped.max()

In [31]:
mostPopular

(1933, 859)

In [35]:
mostPopular[1]

859

In [32]:
mostPopName = rdd.lookup(mostPopular[1])[0]

In [40]:
print("{} with {} appearances".format(mostPopName, mostPopular[0]))

b'CAPTAIN AMERICA' with 1933 appearances