In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [4]:
data_path = '/Users/ameyapatankar/Desktop/SparkCourse/Spark Lynda/Exercise Files/Data'

In [5]:
file_path = data_path + "/location_temp.csv"

In [6]:
df1 = spark.read.format('csv').option('header','true').load(file_path)

In [8]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [10]:
df1.printSchema()

root
 |-- event_date: string (nullable = true)
 |-- location_id: string (nullable = true)
 |-- temp_celcius: string (nullable = true)

In [11]:
df1.count()

500000

In [18]:
file_path_no_header = data_path + '/utilization.csv'
df2 = spark.read.format('csv').option('header','false').option('inferSchema','true').load(file_path_no_header)

In [19]:
df2.show()

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41| 0.4| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51| 0.6| 45|
|03/05/2019 08:56:14|100|0.32|0.37| 47|
|03/05/2019 09:01:14|100|0.62|0.59| 60|
|03/05/2019 09:06:14|100|0.66|0.72| 57|
|03/05/2019 09:11:14|100|0.54|0.54| 44|
|03/05/2019 09:16:14|100|0.29| 0.4| 47|
|03/05/2019 09:21:14|100|0.43|0.68| 66|
|03/05/2019 09:26:14|100|0.49|0.66| 65|
|03/05/2019 09:31:14|100|0.64|0.55| 66|
|03/05/2019 09:36:14|100|0.42| 0.6| 42|
|03/05/2019 09:41:14|100|0.55|0.59| 63|
+-------------------+---+----+----+---+
only showing top 20 rows

In [15]:
df2.count()

500000

In [21]:
df2 = df2.withColumnRenamed('_c0','event_datetime') \
         .withColumnRenamed('_c1','server_id')\
         .withColumnRenamed('_c2','cpu_utilization')\
         .withColumnRenamed('_c3','free_memory')\
         .withColumnRenamed('_c4','session_counts')

In [22]:
df2.show()

+-------------------+---------+---------------+-----------+--------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_counts|
+-------------------+---------+---------------+-----------+--------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|            47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|            43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|            62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|            50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|            43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|            48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|            58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|            58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|            62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|            45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|            47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|            60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|            57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|            44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|            47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|            66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|            65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|            66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|            42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|            63|
+-------------------+---------+---------------+-----------+--------------+
only showing top 20 rows

In [23]:
json_data_path = data_path + '/utilization.json'

df1_json = spark.read.format('json').load(json_data_path)

In [24]:
df1_json.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.77|03/16/2019 17:21:40|       0.22|      115|           58|
|           0.53|03/16/2019 17:26:40|       0.23|      115|           64|
|            0.6|03/16/2019 17:31:40|       0.19|      115|           82|
|           0.46|03/16/2019 17:36:40|       0.32|      115|           60|
|           0.77|03/16/2019 17:41:40|       0.49|      115|           84|
|           0.62|03/16/2019 17:46:40|       0.31|      115|           73|
|           0.71|03/16/2019 17:51:40|       0.54|      115|           67|
|           0.67|03/16/2019 17:56:40|       0.54|      115|           83|
|           0.72|03/16/2019 18:01:40|       0.26|      115|           68|
|           0.62|03/16/2019 18:06:40|       0.52|      115|           60|
|           0.58|03/16/2019 18:11:40|       0.23|      115|           60|
|           0.51|03/16/2019 18:16:40|       0.35|      115|           62|
|           0.54|03/16/2019 18:21:40|       0.33|      115|           78|
|           0.84|03/16/2019 18:26:40|       0.35|      115|           66|
|           0.65|03/16/2019 18:31:40|       0.51|      115|           89|
|            0.8|03/16/2019 18:36:40|       0.25|      115|           76|
|           0.66|03/16/2019 18:41:40|       0.41|      115|           87|
|           0.67|03/16/2019 18:46:40|       0.36|      115|           62|
|           0.63|03/16/2019 18:51:40|       0.54|      115|           67|
|           0.51|03/16/2019 18:56:40|       0.51|      115|           58|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [25]:
df2.columns

['event_datetime',
 'server_id',
 'cpu_utilization',
 'free_memory',
 'session_counts']

In [28]:
df2_sample = df2.sample(False,fraction= 0.1)

In [31]:
df2_sort = df2_sample.sort('event_datetime')

In [32]:
df2_sort.show()

+-------------------+---------+---------------+-----------+--------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_counts|
+-------------------+---------+---------------+-----------+--------------+
|03/05/2019 08:07:00|      127|           0.52|       0.49|            75|
|03/05/2019 08:07:03|      129|            0.6|       0.48|            80|
|03/05/2019 08:07:15|      135|           0.55|        0.5|            70|
|03/05/2019 08:07:28|      141|           0.69|       0.24|            67|
|03/05/2019 08:11:28|      108|            0.8|       0.26|            79|
|03/05/2019 08:11:29|      109|           0.67|       0.46|            68|
|03/05/2019 08:11:31|      110|           0.58|       0.61|            76|
|03/05/2019 08:11:34|      112|           0.78|       0.14|            83|
|03/05/2019 08:11:45|      118|           0.55|       0.38|            81|
|03/05/2019 08:11:46|      119|           0.23|       0.76|            37|
|03/05/2019 08:11:51|      122|            0.5|       0.18|            68|
|03/05/2019 08:12:21|      138|           0.54|       0.45|            39|
|03/05/2019 08:12:33|      144|           0.54|       0.26|            86|
|03/05/2019 08:16:19|      103|           0.61|       0.27|            88|
|03/05/2019 08:16:21|      104|           0.57|       0.19|            90|
|03/05/2019 08:17:25|      140|           0.48|       0.36|            62|
|03/05/2019 08:17:31|      143|           0.51|       0.44|            45|
|03/05/2019 08:21:21|      104|            0.8|       0.36|            94|
|03/05/2019 08:26:16|      101|           0.95|       0.38|            71|
|03/05/2019 08:26:36|      113|           0.63|       0.31|            95|
+-------------------+---------+---------------+-----------+--------------+
only showing top 20 rows

In [36]:
df1.filter(df1['location_id'] == 'loc0').count()

1000

In [44]:
df1.groupBy('location_id').count().orderBy('location_id').show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|       loc0| 1000|
|       loc1| 1000|
|      loc10| 1000|
|     loc100| 1000|
|     loc101| 1000|
|     loc102| 1000|
|     loc103| 1000|
|     loc104| 1000|
|     loc105| 1000|
|     loc106| 1000|
|     loc107| 1000|
|     loc108| 1000|
|     loc109| 1000|
|      loc11| 1000|
|     loc110| 1000|
|     loc111| 1000|
|     loc112| 1000|
|     loc113| 1000|
|     loc114| 1000|
|     loc115| 1000|
+-----------+-----+
only showing top 20 rows

In [45]:
df1.groupBy('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
|     loc107|           33.268|
|     loc108|           32.195|
|     loc109|           24.138|
|      loc11|           25.308|
|     loc110|           26.239|
|     loc111|           31.391|
|     loc112|           33.359|
|     loc113|           30.345|
|     loc114|           29.261|
|     loc115|           23.239|
+-----------+-----------------+
only showing top 20 rows

In [46]:
!ls

Exercise Files        Spark Dataframe.ipynb

In [48]:
df2.show()

+-------------------+---------+---------------+-----------+--------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_counts|
+-------------------+---------+---------------+-----------+--------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|            47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|            43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|            62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|            50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|            43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|            48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|            58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|            58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|            62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|            45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|            47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|            60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|            57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|            44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|            47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|            66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|            65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|            66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|            42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|            63|
+-------------------+---------+---------------+-----------+--------------+
only showing top 20 rows

In [49]:
df2.createOrReplaceTempView('utilization')

In [54]:
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 115 ")

In [55]:
df_sql.show()

+-------------------+---------+---------------+-----------+--------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_counts|
+-------------------+---------+---------------+-----------+--------------+
|03/05/2019 08:06:40|      115|           0.78|       0.22|            62|
|03/05/2019 08:11:40|      115|            0.6|       0.52|            55|
|03/05/2019 08:16:40|      115|           0.55|        0.4|            64|
|03/05/2019 08:21:40|      115|           0.51|        0.4|            66|
|03/05/2019 08:26:40|      115|           0.48|       0.54|            83|
|03/05/2019 08:31:40|      115|           0.72|       0.37|            75|
|03/05/2019 08:36:40|      115|           0.58|       0.44|            71|
|03/05/2019 08:41:40|      115|           0.58|       0.25|            76|
|03/05/2019 08:46:40|      115|           0.74|       0.41|            69|
|03/05/2019 08:51:40|      115|           0.74|        0.3|            67|
|03/05/2019 08:56:40|      115|           0.64|       0.49|            59|
|03/05/2019 09:01:40|      115|           0.67|       0.25|            83|
|03/05/2019 09:06:40|      115|           0.48|       0.29|            80|
|03/05/2019 09:11:40|      115|           0.57|        0.3|            87|
|03/05/2019 09:16:40|      115|           0.71|       0.47|            54|
|03/05/2019 09:21:40|      115|           0.54|       0.16|            71|
|03/05/2019 09:26:40|      115|           0.58|       0.31|            70|
|03/05/2019 09:31:40|      115|           0.69|       0.28|            61|
|03/05/2019 09:36:40|      115|           0.52|       0.26|            88|
|03/05/2019 09:41:40|      115|           0.48|        0.2|            79|
+-------------------+---------+---------------+-----------+--------------+
only showing top 20 rows

In [62]:
spark.sql("SELECT server_id,count(*) as count, min(session_counts), round(avg(session_counts),3) as Avg\
            FROM utilization \
            WHERE session_counts > 70 \
            GROUP BY server_id \
            ORDER BY count DESC").show()

+---------+-----+-------------------+------+
|server_id|count|min(session_counts)|   Avg|
+---------+-----+-------------------+------+
|      101| 9808|                 71|87.666|
|      113| 9418|                 71|86.963|
|      145| 9304|                 71|86.977|
|      103| 8744|                 71|85.764|
|      102| 8586|                 71|85.712|
|      133| 8583|                 71|85.467|
|      108| 8375|                 71|85.122|
|      149| 8288|                 71|84.961|
|      137| 8248|                 71|85.006|
|      148| 8027|                 71|84.704|
|      123| 7918|                 71|84.532|
|      118| 7913|                 71|84.658|
|      112| 7425|                 71|83.545|
|      139| 7383|                 71|83.327|
|      104| 7366|                 71|83.346|
|      121| 7084|                 71|82.888|
|      142| 7084|                 71|82.905|
|      146| 7072|                 71|82.951|
|      126| 6365|                 71|81.562|
|      144| 6220|                 71|81.385|
+---------+-----+-------------------+------+
only showing top 20 rows

In [64]:
# csv_df_path = data_path + '/server_name.csv'
# df_server = spark.read.csv(csv_df_path, header = True)

In [65]:
df2.describe().show()

+-------+-------------------+------------------+-------------------+-------------------+------------------+
|summary|     event_datetime|         server_id|    cpu_utilization|        free_memory|    session_counts|
+-------+-------------------+------------------+-------------------+-------------------+------------------+
|  count|             500000|            500000|             500000|             500000|            500000|
|   mean|               null|             124.5| 0.6205177400000115|0.37912809999999625|          69.59616|
| stddev|               null|14.430884120553204|0.15875173872912818|0.15830931278376212|14.850676696352831|
|    min|03/05/2019 08:06:14|               100|               0.22|                0.0|                32|
|    max|04/09/2019 01:22:46|               149|                1.0|               0.78|               105|
+-------+-------------------+------------------+-------------------+-------------------+------------------+

In [67]:
df2.stat.corr('cpu_utilization','free_memory')#,'session_counts')

-0.47047715730807216

In [70]:
spark.sql("SELECT server_id,min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
            FROM utilization \
            GROUP BY server_id").show()

+---------+--------------------+--------------------+----------------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+---------+--------------------+--------------------+----------------------------+
|      148|                0.54|                0.94|         0.11451712518744131|
|      137|                0.54|                0.94|         0.11526245077758812|
|      133|                0.55|                0.95|         0.11534006553263144|
|      108|                0.55|                0.95|         0.11563100171171926|
|      101|                 0.6|                 1.0|         0.11651726263197697|
|      115|                0.44|                0.84|         0.11569664615014985|
|      126|                0.48|                0.88|         0.11542612970702051|
|      103|                0.56|                0.96|         0.11617507884178278|
|      128|                0.38|                0.78|          0.1153254132405078|
|      122|                0.43|                0.83|         0.11563104329209037|
|      111|                0.36|                0.76|         0.11530221569464483|
|      140|                0.47|                0.87|         0.11539940805020545|
|      132|                0.33|                0.73|          0.1145442656350766|
|      146|                 0.5|                 0.9|         0.11488129439634706|
|      142|                 0.5|                 0.9|         0.11593003726970044|
|      139|                0.51|                0.91|         0.11519660023052102|
|      120|                0.35|                0.75|         0.11586355920838642|
|      117|                0.38|                0.78|         0.11534593941519553|
|      112|                0.52|                0.92|         0.11528867845082576|
|      127|                0.47|                0.87|         0.11577746913037888|
+---------+--------------------+--------------------+----------------------------+
only showing top 20 rows

In [72]:
spark.sql("SELECT event_datetime,server_id,cpu_utilization, \
            avg(cpu_utilization) OVER (PARTITION BY server_id) as avg_server_util \
            FROM utilization ").show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:07:41|      148|           0.85|0.7393840000000045|
|03/05/2019 08:12:41|      148|           0.94|0.7393840000000045|
|03/05/2019 08:17:41|      148|           0.89|0.7393840000000045|
|03/05/2019 08:22:41|      148|           0.74|0.7393840000000045|
|03/05/2019 08:27:41|      148|           0.63|0.7393840000000045|
|03/05/2019 08:32:41|      148|           0.89|0.7393840000000045|
|03/05/2019 08:37:41|      148|           0.77|0.7393840000000045|
|03/05/2019 08:42:41|      148|           0.59|0.7393840000000045|
|03/05/2019 08:47:41|      148|           0.77|0.7393840000000045|
|03/05/2019 08:52:41|      148|           0.71|0.7393840000000045|
|03/05/2019 08:57:41|      148|           0.85|0.7393840000000045|
|03/05/2019 09:02:41|      148|           0.73|0.7393840000000045|
|03/05/2019 09:07:41|      148|           0.89|0.7393840000000045|
|03/05/2019 09:12:41|      148|           0.56|0.7393840000000045|
|03/05/2019 09:17:41|      148|           0.59|0.7393840000000045|
|03/05/2019 09:22:41|      148|           0.78|0.7393840000000045|
|03/05/2019 09:27:41|      148|           0.72|0.7393840000000045|
|03/05/2019 09:32:41|      148|            0.8|0.7393840000000045|
|03/05/2019 09:37:41|      148|           0.55|0.7393840000000045|
|03/05/2019 09:42:41|      148|           0.91|0.7393840000000045|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [78]:
spark.sql("SELECT event_datetime,server_id,cpu_utilization, \
            avg(cpu_utilization) OVER (PARTITION BY server_id) as avg_server_util, \
            cpu_utilization - avg(cpu_utilization) OVER (PARTITION BY server_id) as delta_server \
            FROM utilization").show()

+-------------------+---------+---------------+------------------+--------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|        delta_server|
+-------------------+---------+---------------+------------------+--------------------+
|03/05/2019 08:07:41|      148|           0.85|0.7393840000000045|  0.1106159999999955|
|03/05/2019 08:12:41|      148|           0.94|0.7393840000000045| 0.20061599999999546|
|03/05/2019 08:17:41|      148|           0.89|0.7393840000000045| 0.15061599999999553|
|03/05/2019 08:22:41|      148|           0.74|0.7393840000000045| 6.15999999995509E-4|
|03/05/2019 08:27:41|      148|           0.63|0.7393840000000045|-0.10938400000000448|
|03/05/2019 08:32:41|      148|           0.89|0.7393840000000045| 0.15061599999999553|
|03/05/2019 08:37:41|      148|           0.77|0.7393840000000045|0.030615999999995536|
|03/05/2019 08:42:41|      148|           0.59|0.7393840000000045| -0.1493840000000045|
|03/05/2019 08:47:41|      148|           0.77|0.7393840000000045|0.030615999999995536|
|03/05/2019 08:52:41|      148|           0.71|0.7393840000000045|-0.02938400000000...|
|03/05/2019 08:57:41|      148|           0.85|0.7393840000000045|  0.1106159999999955|
|03/05/2019 09:02:41|      148|           0.73|0.7393840000000045| -0.0093840000000045|
|03/05/2019 09:07:41|      148|           0.89|0.7393840000000045| 0.15061599999999553|
|03/05/2019 09:12:41|      148|           0.56|0.7393840000000045|-0.17938400000000443|
|03/05/2019 09:17:41|      148|           0.59|0.7393840000000045| -0.1493840000000045|
|03/05/2019 09:22:41|      148|           0.78|0.7393840000000045|0.040615999999995545|
|03/05/2019 09:27:41|      148|           0.72|0.7393840000000045|-0.01938400000000451|
|03/05/2019 09:32:41|      148|            0.8|0.7393840000000045| 0.06061599999999556|
|03/05/2019 09:37:41|      148|           0.55|0.7393840000000045|-0.18938400000000444|
|03/05/2019 09:42:41|      148|           0.91|0.7393840000000045| 0.17061599999999555|
+-------------------+---------+---------------+------------------+--------------------+
only showing top 20 rows

In [79]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler

In [86]:
vectors = VectorAssembler(inputCols = ['cpu_utilization','free_memory','session_counts'],outputCol='features')

In [87]:
vectors_df = vectors.transform(df2)

In [88]:
vectors_df.show()

+-------------------+---------+---------------+-----------+--------------+----------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_counts|        features|
+-------------------+---------+---------------+-----------+--------------+----------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|            47|[0.57,0.51,47.0]|
|03/05/2019 08:11:14|      100|           0.47|       0.62|            43|[0.47,0.62,43.0]|
|03/05/2019 08:16:14|      100|           0.56|       0.57|            62|[0.56,0.57,62.0]|
|03/05/2019 08:21:14|      100|           0.57|       0.56|            50|[0.57,0.56,50.0]|
|03/05/2019 08:26:14|      100|           0.35|       0.46|            43|[0.35,0.46,43.0]|
|03/05/2019 08:31:14|      100|           0.41|       0.58|            48|[0.41,0.58,48.0]|
|03/05/2019 08:36:14|      100|           0.57|       0.35|            58|[0.57,0.35,58.0]|
|03/05/2019 08:41:14|      100|           0.41|        0.4|            58| [0.41,0.4,58.0]|
|03/05/2019 08:46:14|      100|           0.53|       0.35|            62|[0.53,0.35,62.0]|
|03/05/2019 08:51:14|      100|           0.51|        0.6|            45| [0.51,0.6,45.0]|
|03/05/2019 08:56:14|      100|           0.32|       0.37|            47|[0.32,0.37,47.0]|
|03/05/2019 09:01:14|      100|           0.62|       0.59|            60|[0.62,0.59,60.0]|
|03/05/2019 09:06:14|      100|           0.66|       0.72|            57|[0.66,0.72,57.0]|
|03/05/2019 09:11:14|      100|           0.54|       0.54|            44|[0.54,0.54,44.0]|
|03/05/2019 09:16:14|      100|           0.29|        0.4|            47| [0.29,0.4,47.0]|
|03/05/2019 09:21:14|      100|           0.43|       0.68|            66|[0.43,0.68,66.0]|
|03/05/2019 09:26:14|      100|           0.49|       0.66|            65|[0.49,0.66,65.0]|
|03/05/2019 09:31:14|      100|           0.64|       0.55|            66|[0.64,0.55,66.0]|
|03/05/2019 09:36:14|      100|           0.42|        0.6|            42| [0.42,0.6,42.0]|
|03/05/2019 09:41:14|      100|           0.55|       0.59|            63|[0.55,0.59,63.0]|
+-------------------+---------+---------------+-----------+--------------+----------------+
only showing top 20 rows

In [90]:
kmeans = KMeans().setK(3)

In [92]:
kmeans.setSeed(1)

KMeans_361095f20d65

In [94]:
kmodel = kmeans.fit(df2['features'])

AnalysisException: 'Cannot resolve column name "features" among (event_datetime, server_id, cpu_utilization, free_memory, session_counts);'